@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.item{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--background);
}


/* ESTILIZANDO A DIV COM A CLASS ACTIVE */
.item.active{
    display: block;
    
}

/* ESTILIZACAO DO TITULO DO PRIMEIRO REFRI(MORANGO)*/
.item .bebida_title{
    font-size: 12rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /* configurção usada para centralizar conteudo*/
    
}
/* ESTILIZAÇAO DA FOTO DO BACKGROUND */
.item .bg_fruit{
    width: 95%;
    position: absolute;
    top: -5%;
    left: 4%;
    z-index: 3;
}

/* ESTILIZAÇÃO DA LATA DA BEBIDA */
.item .bebida_lata{
    z-index: 2;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* ESTILIZANDO OS BOTORES DE VOLTAR E AVANÇAR PARA O PROXIMO SLIDER */
.prev, .next{
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #eee9;
    color: #eee;
    font-size: x-large;
    font-family: "Poppins",sans-serif;
    letter-spacing: 0.5px;
    cursor: pointer;
    z-index: 4;
    border-radius: 50%;
    transition: .2s;

}
.prev{
    left: 59px;
}
.next{
    right: 10px;
}
.arrow > *:hover{
    background-color: #eeeeee12;
}